.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropzone-container{
  justify-content: center;
  display:flex;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selectItem:hover  {
  background-color: rgba(1, 198, 136, 0.15) !important;
}

.linkedin-logo{
  filter: invert(29%) sepia(50%) saturate(2513%) hue-rotate(177deg) brightness(97%) contrast(101%);
  vertical-align: middle;
  margin-bottom: 3px;
}
.linkedin-link{
  color: #61dafb;
  text-decoration: none;
}

